body {
   background: -webkit-linear-gradient(90deg,#03f8fc,#fff 0,#47d1c6);
   height: 100vh ;
   margin: 0;
   padding: 0;
}

.container1 {
   margin-top: 30px;
   width: 90%;
   max-width: 1200px;
   height: auto;
   border: 1px solid grey;
   background: #f8f7f4;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   border-radius: 10px;
   padding: 20px;
   margin: 0 auto;
}

.p-image {
   border-radius: 10px;
   object-fit: cover;
   width: 100%;
   max-height: 400px;
}

.btn {
   background-color: #07695D;
   color: white;
   display: flex;
   width: 100%;
   max-width: 200px;
   justify-content: center;
   margin: 20px 0;
}

.btn:hover {
   background-color: #1bb1a0;
}

.contact-details {
   background-color: #0c8677;
   color: white;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   width: max-content;
   padding: 10px;
   width: 100%;
   max-width: 300px;
   margin-top: -5px;
}

.contact-img {
   height: 25px;
   width: 25px;
   margin-right: 10px;
}

.product-img {
   height: 35px;
   width: 35px;
}

.chat {
   height: max-content;
   width: 100%;
   max-width: 400px;
   padding: 20px;
   background: #0c8677;
   border-radius: 10px;
   align-items: center;
   margin: 20px 0;
}

.slider-container {
   width: 100%;
   max-width: 500px;
   height: auto;
}

.mainpage {
   display: flex;
   flex-direction: column;
}

.main1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}

.contact-btn {
   padding: 8px;
   border-radius: 5px;
   width: 100%;
   max-width: 200px;
}

.contact-details1 {
   width: 90%;
   max-width: 400px;
   margin-top: 30px;
   padding: 30px;
   height: auto;
   background-color: rgb(240, 239, 239);
}

.part2 {
   margin-top: 30px;
   width: 90%;
   max-width: 500px;
}

.name-container {
   font-size: 20px;
   color: black;
   text-align: center;
}

.product-desc {
   font-size: 16px;
   color: black;
   text-align: justify;
}

.btn1 {
   margin: 20px auto;
   padding: 10px;
   width: 100%;
   max-width: 150px;
   border-radius: 10px;
   background-color: #1bb1a0;
}

.chat-header {
   color: white;
   text-align: center;
}

/* Responsive Design */

@media (min-width: 768px) {
   .main1 {
      flex-direction: row;
      justify-content: space-between;
   }

   .part2 {
      margin-top: 90px;
      width: 45%;
   }

   .contact-details1 {
      width: 45%;
   }

   .chat {
      width: 45%;
   }
}

@media (min-width: 1024px) {
   .container1 {
      margin-top: 30px;
      width: 70%;
   }

   .btn {
      width: 25%;
   }
}
