/* Base Styles */
.section01 {
    display: flex;
    position: relative;
    top: -80px;
    padding-top: 120px;
    opacity: 1;
    z-index: 0.1;
    margin-top: 50px;
    font-family: 'myfont1';
    background-color: #e1fcf9;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

@font-face {
    font-family: 'myfont1';
    src: url('/public/fonts/Ranade-Variable.ttf');
}

.section-01 {
    flex: 5;
    z-index: 0.1;
    text-align: left;
    margin: 0 130px 0 130px;
}

.section-01 h2 {
    z-index: 0.1;
    font-size: 55px;
    font-weight: bolder;
    width: 96%;
    margin: 20px 0 50px 0;
    padding-left: 50px;
    text-align: left;
}

.section-01 p {
    font-size: 20px;
    z-index: 0.1;
    margin-top: -20px;
}

.section-01 a {
    font-weight: 600;
    z-index: 0.1;
    position: relative;
    top: 10px;
    left: 60px;
    border-radius: 30px;
    background-color: rgb(112, 238, 223);
    padding: 14px 50px;
    font-size: 20px;
    display: inline-block;
}

.section-012 {
    flex: 6;
}

.section-012 img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.logo1 {
    padding-top: 2px;
    padding-left: 10px;
}

/* Responsive Styles */

/* For screens up to 1000px */
@media only screen and (max-width: 1000px) {
    .section01 {
        flex-direction: column-reverse;
        margin-top: 0;
        padding: 20px;
    }

    .section-01 {
        top: 27%;
        width: 80%;
        position: relative;
        margin: 0 auto;
        z-index: 1;
        opacity: 1;
        text-align: center;
    }

    .section-01 h2 {
        font-size: 45px;
    }

    .section-01 p {
        font-size: 20px;
    }

    .section-012 img {
        width: 100%;
        opacity: 0.8;
        height: auto;
    }
}

/* For screens up to 600px */
@media only screen and (max-width: 600px) {
    .section01 {
        flex-direction: column-reverse;
    }

    .section-01 {
        top: 30%;
        width: 70%;
        position: relative;
        margin: 0 auto;
        z-index: 1;
        opacity: 1;
        text-align: center;
    }

    .section-01 h2 {
        font-size: 30px;
    }

    .section-01 p {
        font-size: 16px;
    }

    .section-012 img {
        border-radius: 10px;
    }
}

/* For screens up to 492px */
@media only screen and (max-width: 492px) {
    .section01 {
        flex-direction: column-reverse;
    }

    .section-01 {
        top: 5%;
        width: 90%;
        position: relative;
        margin: 0 auto;
        z-index: 1;
        opacity: 1;
        text-align: center;
    }

    .section-01 h2 {
        font-size: 25px;
    }

    .section-01 p {
        font-size: 14px;
    }

    .section-012 img {
        height: 400px;
        width: 100%;
    }
}
