.navbar9 {
  background-color: #59f0de;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar9-logo {
  margin-top: 5px;
}

.navbar-cat9 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.navbar-cat9 a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 500;
  transition: height 0.3s ease;
}

.link-container {
  border-radius: 10px;
}

.navbar-signin {
  font-size: 15px;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  background-color: #008575;
  padding: 8px;
  width: 120px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px;
}

.navbar-signin:hover {
  background-color: #0bb29f;
}

/* Hide menu icon by default */
.menu-icon {
  display: none;
  font-size: 28px;
}

/* Dropdown for mobile */
@media only screen and (max-width: 768px) {
  .navbar9 {
    justify-content: space-between;
  }

  /* Show menu icon on mobile */
  .menu-icon {
    display: block;
  }

  /* Hide the menu items by default */
  .navbar-cat9 {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  /* Show dropdown menu when clicked */
  .navbar-cat9.clicked9 {
    display: flex;
    background-color: #59f0de;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 1;
  }

  .navbar-cat9 a {
    margin-left: 0;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar9 {
    flex-direction: column;
    height: auto;
  }

  .navbar9-logo {
    margin-bottom: 10px;
  }

  .navbar-signin {
    width: 100%;
    margin-bottom: 15px;
  }
}
